= javascript_include_tag "validation"
= javascript_include_tag 'vendor/jquery.ghostInput'

= javascript_tag "Diaspora.Page = 'InvitationsEdit';"
.awsite
  .awsidebar
    = image_tag('kvazar.png', :id => 'logo')
    .sidcon
      %p Историю эту уже начали забывать, хотя находились горожане, которые время от времени рассказывали ее вновь прибывшим в город посетителям.
      %p Легенда обрастала подробностями и уже совсем не напоминала произошедшее в действительности событие. И, тем не менее, ни один человек не решался заикнуться о ней с наступлением темноты.


  .awcont
    = form_for(resource, :as => resource_name, :html => {:class => 'new_user_form'}, :url => registration_path(resource_name), :validate => true) do |f|
      -#.awstrok.span6
      -#  %input.span5.text_field{:name => "user[username]", :type => "text", :placeholder => "введите логин"}
      -#  %span.host_uri
      -#    = "@#{AppConfig[:pod_uri].host}"
      %fieldset.awvcon
        .clearfix
          -#%b
            -#= t('username')
          = f.text_field :username, :title => t('registrations.new.enter_username'), :placeholder => t('username')
          %span.host_uri
            = "@#{AppConfig[:pod_uri].host}"
        .clearfix
          -#%b
            -#= t('email')
          = f.email_field :email, :title => t('registrations.new.enter_email'), :placeholder => t('email')
        .clearfix
          -#%b
            -#= t('password')
          = f.password_field :password, :title => t('registrations.new.enter_password'), :placeholder => t('password')
        .clearfix
          -#%b
            -#= t('password_confirmation')
          = f.password_field :password_confirmation, :title => t('registrations.new.enter_password_again'), :placeholder => t('password_confirmation')

        .clearfix
          = f.submit t('registrations.new.create_my_account'), :class => 'in_aspects btn primary'
  .foot

